*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 90;
  position: absolute;
  width: 100%;
}
header{
  position: relative;
  height: calc(100vh + 250px);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
section.section h2{
  font-size: xx-large;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  position: sticky;
  top: 0;
  background-color: brown;
}
section#projectSection div.projectCard{
  background-color: green;
  margin: 20px;
  display: flex;
  flex-direction: row;
  width: 500px;
  max-width: 80vw;
}

section#projectSection div.projectCard img{
  width: 200px;
  height: 200px;
  padding: 10px; 
}

section#projectSection div.projectCard div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;  
}
/* section#projectSection div.projectCard p.allTech{
  
} */
section#skillSection p.skillToken{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: blue;
}
#skillSection{
  align-items: flex-end;
}
section.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
div#ship{
  background-image: url('assets/ship.png');
  background-repeat: no-repeat ;
  height: 100vh;
  transition: opacity 0.02s;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-size: xx-large;
  position: sticky;
  top: 0;
  background-position-y: top;
  background-position-x: center;
  width: 100vw;

}