
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
html{
  overflow-x: hidden;
  width: 100vw;
}
main {
  width: 100vw;
  color: white;
  z-index: 90;
  position: absolute;
  width: 100%;
}
header{
  position: relative;
  height: calc(100vh + 250px);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
section.section h2{
  font-size: xx-large;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  position: sticky;
  top: 0;
  background-color: brown;
}
section#projectSection div.projectCard{
  background-color: green;
  margin: 20px;
  display: flex;
  flex-direction: row;
  width: 500px;
  max-width: 80vw;
}

section#projectSection div.projectCard img{
  width: 200px;
  height: 200px;
  padding: 10px; 
}

section#projectSection div.projectCard div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;  
}
/* section#projectSection div.projectCard p.allTech{
  
} */
section#skillSection div.skillCard{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: blue;
}

#skillSection,#expSection{
  align-items: flex-end;
}
section#expSection div.expCard img{
  width: 100px;
  height: 100px;
}
section#expSection div.expCard ul li{
  line-height: 1;
}
section#expSection div.expCard ul{
  list-style-type: none;
}
#scbuffer1{
  height: 150px;
}
section#expSection div.expCard{
  width: 300px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  font-size: 150%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
  margin-top: 40px;
  background-color: blue;
}
section.section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
div#ship{
  background-image: url('assets/ship.png');
  background-repeat: no-repeat ;
  height: 100vh;
  transition: opacity 0.02s;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-size: xx-large;
  position: sticky;
  top: 0;
  background-position-y: top;
  background-position-x: center;
  width: 100vw;

}